/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/08/2021, 04:59:26 PM
    Author     : David
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: #35b5ba;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #35b5ba, #f1abc9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #35b5ba, #f1abc9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: transparent;
    color: #393939;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Noto Sans JP', sans-serif;
}

.contenidoInicio{
    padding: 20px;
    text-align: center;
    margin: 10% 10%;
    border-style: solid;
    border-radius: 10px;
    line-height: 60px;
    font-family: 'Noto Sans JP', sans-serif;
    
    background: rgba(252,236,252,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 26%, rgba(129,54,137,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,236,252,1)), color-stop(26%, rgba(253,137,215,1)), color-stop(100%, rgba(129,54,137,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 26%, rgba(129,54,137,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 26%, rgba(129,54,137,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 26%, rgba(129,54,137,1) 100%);
    background: radial-gradient(ellipse at center, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 26%, rgba(129,54,137,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#813689', GradientType=1 );
}

.btn{
    margin: 0px;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: white;
    transition: all .5s;
    font-size: 25px;
    display: inline-block;
    margin-bottom: 15px;
}

btn:hover{
    transition: all .5s;
    border-collapse: black;
    transform: translate(0px, -10px);
    cursor: pointer;
    box-shadow: 0px 0px 10px 4px white;
}

p{
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}

label{
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}

input{
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}
